* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding: 20px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #0186da;
    font-weight: 800;
}

.box {
    width: 60rem;
    padding: 20px;
    border: 1px solid #0186da;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #0186da;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0186da;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shortUrlLink {
    width: 90%;
    color: #0186da;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-style: dashed;
    border-width: 1px;
    border-color: #0186da;
}